<?xml version="1.0"?>
<!--
/**
 * @package     Bydn_ImprovedPageCache
 * @author      Daniel Navarro <https://github.com/danidnm>
 * @license     GPL-3.0-or-later
 * @copyright   Copyright (c) 2025 Daniel Navarro
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bydn_improved_page_cache>
            <general>
                <enabled>1</enabled>
                <enable_smart_refresh>0</enable_smart_refresh>
                <concurrency>5</concurrency>
                <cleanup_days>7</cleanup_days>
            </general>
            <cron>
                <warm_schedule>* * * * *</warm_schedule>
                <warm_priority_schedule>* * * * *</warm_priority_schedule>
                <cleanup_schedule>15 3 * * *</cleanup_schedule>
                <stats_schedule>*/15 * * * *</stats_schedule>
            </cron>
        </bydn_improved_page_cache>
    </default>
</config>
