<?xml version="1.0"?>
<!--
/**
 * @package     Bydn_ImprovedPageCache
 * @author      Daniel Navarro <https://github.com/danidnm>
 * @license     GPL-3.0-or-later
 * @copyright   Copyright (c) 2025 Daniel Navarro
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bydn_utils" translate="label" sortOrder="2600">
            <label>Utilities (by DN)</label>
        </tab>
        <section id="bydn_improved_page_cache" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Improved Page Cache</label>
            <tab>bydn_utils</tab>
            <resource>Bydn_ImprovedPageCache::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_smart_refresh" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Smart Cache Refresh</label>
                    <comment>If enabled, it will enqueue products, categories and pages for refresh instead of invalidate them.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="concurrency" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Concurrency Level</label>
                    <comment>Number of simultaneous parallel requests (default: 5)</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>
                <field id="batch_size" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Batch Size</label>
                    <comment>Number of items to process per batch (default: 50)</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>
                <field id="wait_time" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Wait Time between runs (ms)</label>
                    <comment>Wait time in milliseconds at the end of each consumer batch execution to reduce server load (default: 500)</comment>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="cleanup_days" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cleanup Old Records (Days)</label>
                    <comment>Automatically delete completed or error records older than X days. (default: 7)</comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                </field>
            </group>
            <group id="cron" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cron Schedules</label>
                <field id="warm_schedule" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Warm Cache Schedule</label>
                    <comment>Cron expression for standard warm cache (default: * * * * *)</comment>
                    <backend_model>Bydn\ImprovedPageCache\Model\Config\Backend\Cron</backend_model>
                </field>
                <field id="warm_priority_schedule" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Warm Cache Priority Schedule</label>
                    <comment>Cron expression for priority warm cache (default: * * * * *)</comment>
                    <backend_model>Bydn\ImprovedPageCache\Model\Config\Backend\Cron</backend_model>
                </field>
                <field id="cleanup_schedule" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cleanup Schedule</label>
                    <comment>Cron expression for cleaning up old records (default: 15 3 * * *)</comment>
                    <backend_model>Bydn\ImprovedPageCache\Model\Config\Backend\Cron</backend_model>
                </field>
                <field id="stats_schedule" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Stats Schedule</label>
                    <comment>Cron expression for gathering statistics (default: */15 * * * *)</comment>
                    <backend_model>Bydn\ImprovedPageCache\Model\Config\Backend\Cron</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
